

#testimonial_chef {
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 50%;
}

@media(min-width:320px) and (max-width:767px) {

@media(min-width:320px) and (max-width:767px) {

    body
 }
